canvas {
  display: flex;
  flex-wrap: wrap;
  width: 456px;
  height: 456px;
  background-color: #BBADA0;
  border: 0px solid #BBADA0;
  border-radius: 0px;
  margin-top: 150px;
  margin-left: -300px;
}

body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    font-family: "Clear Sans", "Helvetica Neue"
  }
  
h1 {
    font-size: 80px;
    line-height: 0.7;
    color: #776E65;
    margin: 0px;
    margin-top: 50px;
    margin-left: 170px;
  }
  
  

